<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>基础开关</string>
		</dict>
		<dict>
         <key>PostNotification</key>
         <string>com.lf.unixbootanim/prefsupdated</string>
         <key>cell</key>
         <string>PSDefaultCell</string>
         <key>cellClass</key>
         <string>UBACustomSwitchCell</string>
         <key>default</key>
         <true/>
         <key>defaults</key>
         <string>com.lf.unixbootanim</string>
         <key>height</key>
         <integer>200</integer>
         <key>key</key>
         <string>Enabled</string>
         <key>disabledIcon</key>
         <string>disabled_icon</string>
         <key>enabledIcon</key>
         <string>enabled_icon</string>
      </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lf.unixbootanim</string>
			<key>key</key>
			<string>EnableColors</string>
			<key>label</key>
			<string>彩色日志等级</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lf.unixbootanim</string>
			<key>key</key>
			<string>LogGradient</string>
			<key>label</key>
			<string>日志顶部渐变淡出</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lf.unixbootanim</string>
			<key>key</key>
			<string>SmoothScroll</string>
			<key>label</key>
			<string>逐行滚动效果</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>透明度与字体</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>日志文本透明度</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.lf.unixbootanim</string>
			<key>key</key>
			<string>LogOpacity</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0.10000000000000001</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Logo 透明度</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.lf.unixbootanim</string>
			<key>key</key>
			<string>LogoOpacity</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>字体大小</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>8</real>
			<key>defaults</key>
			<string>com.lf.unixbootanim</string>
			<key>key</key>
			<string>FontSize</string>
			<key>max</key>
			<real>16</real>
			<key>min</key>
			<real>5</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>提示：更改启动控制层参数后，请点击右上角“重启用户空间”以完全生效。</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
